$color-violet-dark: #170f23;
$color-violet: #432275;
$color-violet-light: #c662ef;
$color-grey-text: #eee;
$color-text-secondary: #ffffff80;
$color-white: #fff;
$background: url(https://zjs.zadn.vn/zmp3-desktop/releases/v1.4.0/static/media/banner-100.33cafe6b.png);
