.playlist-section__item {
  flex: calc(100% / var(--col-num)) 0 0;
  padding: 0 calc(var(--col-space) / 2);
  overflow: hidden;

  &-img {
    position: relative;
    overflow: hidden;
    height: 17rem;

    &:hover {
      img {
        opacity: 0.6;
        transform: scale(1.1);
      }

      .playlist-section__item-img-icon {
        display: block;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.6rem;
      transition: transform 0.3s linear;
    }
    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      display: none;
    }
  }

  &-name {
    font-size: 1.4rem;
    margin-top: 0.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;

    &:hover {
      color: $color-violet-light;
    }
  }
}
