.header {
  height: 7rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__nav {
    font-size: 2.2rem;
    color: $color-white;
    cursor: pointer;

    a {
      display: inline-block;
      padding: 1rem;
    }
  }

  &__search {
    flex-basis: 50%;
    position: relative;
    margin: 0 auto;

    @include responsive(mobile) {
      flex-basis: 80%;
    }

    &--searching {
      .header__search-input {
        background-color: $color-violet;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .header__search-result {
        display: block;
      }
    }

    &-input {
      border-radius: 2rem;
      display: flex;
      height: 4rem;
      padding: 0 1rem;
      color: $color-grey-text;
      align-items: center;
      background-color: #3a3543;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 90%;
        height: 100%;
        color: $color-grey-text;
        &::placeholder {
          color: $color-grey-text;
        }
      }
      &-container {
        flex: 1;
        margin-left: 0.6rem;
        height: 100%;
      }
    }

    &-result {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $color-violet;
      color: $color-white;
      padding: 1.3rem 1rem;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      display: none;

      &__message {
        text-align: center;
      }

      &__item {
        padding: 0.8rem 1rem;
        border-radius: 0.6rem;

        &-link {
          display: flex;
          align-items: center;
        }

        &-img {
          --size: 4rem;
          width: var(--size);
          height: var(--size);
          margin-right: 0.8rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-name {
          display: block;
          font-size: 1.4rem;
          font-weight: 500;
          color: $color-white;
          @include limitLine(1);
        }

        &-singer {
          font-size: 1.2rem;
          color: $color-text-secondary;
          @include limitLine(1);
        }

        &:hover {
          background-color: #ffffff1a;
          cursor: pointer;
        }
      }
    }
  }
}
